---
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
 title="Acerca | Metalicas Sima"
 description="Todo sobre Metalicas Sima"
>
 <div class="stack gap-20">
  <main class="wrapper about">
   <Hero
    title="Metalicas SIMA"
    tagline="Gracias por su interés. Lea a continuación para obtener más información sobre mí y mi experiencia."
   >
    <img
     width="1553"
     height="873"
     src="/assets/at-work.png"
     alt="MetalSima imagen de trabajo"
    />
   </Hero>

   <section>
    <h2 class="section-title">Nuestra Historia</h2>
    <div class="content">
     <p>
      En Metálicas SIMA nos dedicamos con pasión y compromiso al sector de la
      metalmecánica, ofreciendo soluciones integrales y de alta calidad en:
      <ul>
       <li>Motores eléctricos</li>
       <li>Puertas enrollables</li>
       <li>Puertas y portones automáticos</li>
       <li>Mobiliario en acero inoxidable</li>
       <li>Rejas y barandas</li>
       <li>Estructuras metálicas</li>
       <li>Sistemas de control de accesos automáticos</li>
      </ul>
     </p>
     <p>
      Con más de 15 años de experiencia, hemos construido una sólida reputación
      basada en la excelencia, la responsabilidad y la satisfacción de nuestros
      clientes. Cada proyecto que realizamos —desde una pequeña instalación
      hasta grandes estructuras— refleja nuestro compromiso con la "Calidad,
      Variedad y Garantía", nuestro lema y sello distintivo.
     </p>
     <p>
      Nuestro equipo técnico está altamente capacitado y equipado con las
      herramientas necesarias para cumplir con los más altos estándares del
      mercado. Atendemos tanto a clientes particulares como a empresas e
      instituciones que buscan soluciones duraderas, funcionales y estéticamente
      superiores.
     </p>
    </div>
   </section>

   <section>
    <h2 class="section-title">Nuestra Misión</h2>
    <div class="content">
     <p>
      En Metálicas SIMA nos dedicamos con pasión y compromiso al sector de la
      metalmecánica, ofreciendo soluciones integrales y de alta calidad en
      motores eléctricos, puertas enrollables, puertas y portones automáticos,
      mobiliario en acero inoxidable, rejas y barandas, estructuras metálicas y
      sistemas de control de accesos automáticos.
     </p>
     <p>
      Contamos con un equipo técnico altamente capacitado y con las herramientas
      necesarias para cumplir con los más altos estándares del mercado.
      Atendemos tanto a clientes particulares como a empresas e instituciones
      que buscan soluciones duraderas, funcionales y estéticamente superiores.
      Ya sea que necesites automatizar el acceso a tu propiedad, diseñar
      mobiliario en acero a medida o instalar un motor eléctrico, estamos listos
      para ayudarte con atención personalizada y un enfoque orientado a
      resultados. Tu confianza es nuestra mayor motivación.
     </p>
    </div>
   </section>
  </main>

  <ContactCTA />
 </div>
</BaseLayout>

<style>
 .about {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
 }

 img {
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-md);
 }

 section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--gray-200);
 }

 .section-title {
  grid-column-start: 1;
  font-size: var(--text-xl);
  color: var(--gray-0);
 }

 .content {
  grid-column: 2 / 4;
 }

 .content :global(a) {
  text-decoration: 1px solid underline transparent;
  text-underline-offset: 0.25em;
  transition: text-decoration-color var(--theme-transition);
 }

 .content :global(a:hover),
 .content :global(a:focus) {
  text-decoration-color: currentColor;
 }

 @media (min-width: 50em) {
  .about {
   display: grid;
   grid-template-columns: 1fr 60% 1fr;
  }

  .about > :global(:first-child) {
   grid-column-start: 2;
  }

  section {
   display: contents;
   font-size: var(--text-lg);
  }
 }
</style>
